bokeh==2.4.3
gensim==4.1.2
ipython==8.14.0
keras==2.8.0
matplotlib==3.6.2
numpy==1.22.4
pandas==2.0.2
Pillow==9.5.0
pyLDAvis==3.4.1
requests==2.28.0
scikit_learn==1.2.2
seaborn==0.11.2
spacy==3.3.1
tensorflow==2.8.0
torch==1.10.1
torchmetrics==0.11.1
tqdm==4.64.0
transformers==4.19.4
wordcloud==1.8.1
