bokeh
gensim
ipython
keras
matplotlib
numpy
jupyter
ipympl
pandas
Pillow
pyLDAvis
requests
scikit_learn
seaborn
spacy
tensorflow
torch==1.10.1
torchmetrics==0.11.1
tqdm==4.64.0
transformers==4.19.4
wordcloud
